
<div class="container-error" *ngIf="fetchError">
  <h1 class="temp">Error Fetching Data</h1>
  <br>
  <p class="location">{{errorMessage}}</p>
</div>



<br>
<div class="n-container" *ngIf="weatherData && !fetchError">
  <!-- <div class="main-search-input-wrap"> 
    
  </div> -->
  <div class="upper-data">
    <img src="../assets/hot.jpg" *ngIf="weatherData.main.temp" alt="">
    <img src="../assets/1261770.jpg" *ngIf="weatherData.main.temp" alt="">
    
    <div class="weather-data">
      <div class="location">{{weatherData.name }}</div>
      <div class="temp">{{weatherData.main.temp | number:'1.0-0'}}℃</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info">
      <form class="weather-form" #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="w-100 px-5">
            <input type="text"  class="form-control" placeholder="Search City..." name="cityName" [(ngModel)]="cityName">
        </div> 
      </form>
    </div>
    <div class="blocks">
      <div class="block">
        <img src="../assets/temperature-low-solid.svg" alt="">
        <div class="data">
          <p>min</p>
          <div class="block-value">{{weatherData.main.temp_min | number:'1.0-0'}}℃</div>
        </div>
      </div>
      <div class="block">
        <img src="../assets/temperature-high-solid.svg" alt="">
        <div class="data">
          <p>max</p>
          <div class="block-value">{{weatherData.main.temp_max | number:'1.0-0' }}℃</div>
        </div>
      </div>
      <div class="block">
        <img src="../assets/droplet-solid.svg" alt="">
        <div class="data">
          <p>humidity</p>
          <div class="block-value">{{weatherData.main.humidity}}%</div>
        </div>
      </div>
      <div class="block">
        <img src="../assets/wind-solid.svg" alt="">
        <div class="data">
          <p>wind</p>
          <div class="block-value">{{weatherData.wind.speed}}Km/h</div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
